.modal-lg .modal-title{
	color: #707070;
}

/* body */

.modal-body {
    padding: 1rem 3rem;
}

/* footer */

.btn-group-vertical {
    width: 100%;
    margin: 0 28%;
}

.btn-modal-custom {
    width: 60%;
    margin: 10px 0;
    border-radius: 20px;
}

.btn-group-vertical>.btn-group:not(:last-child)>.btn, .btn-group-vertical>.btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical>.btn-group:not(:first-child)>.btn, .btn-group-vertical>.btn:not(:first-child){
    border-radius: 20px;
}