html {
	height: 100%;
}

body {
	color: #707070;
}

body#login{
	background: linear-gradient(
		to bottom,
		#6CD4FB 0%,
		#FFFFFF 100%
	) no-repeat;
	overflow: hidden;
	padding: 5% 10%;
}
#login__content{
	border-radius: 1.5rem;
	padding: 118px 156px;
}

#login__exp{
	width: fit-content;
	margin-left: 68%;
	position: relative;
	text-align: center;
}

.welcome {
	font-weight: 400;
}

#login__avatar{
	width: 200px;
	padding: 33px;
	position: absolute;
	box-shadow: 0 15px 17px rgba(0, 0, 0, 0.32);
}

#default {
	width: 133px;
}

.avatar{
	border-radius: 50%
}

#login__submit{
	background-color: #008800;
	color: white;
	font-weight: bold;
	border-radius: 27px;
}
